*{
    padding: 0;
    margin: 0;
    color: #fff;
}
body{
    background-color: #202020;
}
.bar{
    color: #ffc107;
    text-align: center;
}
/*      NAVBAR       */
.navbar{
    background-color: #ffc107;
}
.nav-item{
    background-color: #ffc107;
}

.nav-link{
    color: #202020;
    font-weight: 600;
    margin: 0px 10px;
    
}
.nav-link:hover{
    color: #ffc107;
    background-color: #202020;
    border-radius: 20px;
}
.navbar-toggler{
    background-color: #fff;
}

.dropdown button{
    color: #202020;
    font-weight: 600;
}

/*           Body            */

.view{
    margin: 0;
    padding: 0;
}
.view h1{
    color: orange;
    text-align: center;
}
.view h3{
    text-align: center;
}
.logo img{
   
    width: 100px;
    height: 100px;
    justify-content: left;
    margin: 25px;
}
.view img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.founder h3{
    text-align: center;
    color: orange;
}
.contact-buttons{
    margin: 20px;
    padding: 10px;
    text-align: center;
}

/*     ABOUT     */

.table-row-label-text{
    color: orange;

}
.about{
    color: #fff;
    text-align: center;

}
.speciality-label{
    color: #fff;
    text-align: center;
}
.unorderedList{
    display: table;
    list-style: none;
    justify-content: center;
}

/* shipping */

.ship{
    background-color: #ffc107;
    border-radius: 10px;
    height: auto;
}
.shipping{
    margin-top: 25px;
    color: #202020;
    text-align: center;
    border-radius: 10px;
}
.shipping-h1{
    text-align: center;
    color: #202020;
    background-color: #ffc107;
}
.shipping p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffc107;
    background-color: #202020;
    border-radius: 10px;
    border: 2px solid black;
}
.map iframe{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.bar-1{
    text-align: center;
    color: #202020;
}

/*       PAYMENT PAGE       */

.payment-heading{
    display: flex;
    justify-content: center;
}

/*        GALLERY PAGE       */

.gallery-heading{
    display: flex;
    justify-content: center;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
#products{
    text-align: center;
}
.image h1{
    color: #fff;
}
.image img{
    width: 350px;
    height: 300px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}
.image img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}

/*  areca */

#areca{
    background:#202020;
    margin: 50px;
}
.areca-h1{
    text-align: center;
    color: #fff;
    
}
.areca-p{
    align-items: center;
    justify-content: center;
}
.areca-p img{
    padding: 10px;
    width: 100%;
    height: 300px;
    border: 5px solid #ffc107;
    border-radius: 13px;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}
.areca-p img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}
.text{
    background: #202020;
    align-items: right;
    justify-content: right;
    position: relative;
    display: flex;
    margin-left: 200px;
    width: 350px;
    height: 250px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;

}
.text p{
    color: #ffc107;
}
/*           FEEDBACK        */

#Feedback{
    margin: 50px;
}
.feedback{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 55px;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 25px;
}
.input-name{
    width: 450px;
    height: auto;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    margin-top: 10px;
    color: black;
}
.input-review{
    height: 80px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    color: black;
    background-color: #fff;
}
.submit{
    margin: 10px;
    text-align: center;
    padding: 10px 50px 10px 50px;
    color: #202020;
    background-color: #ffc107;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 800;
}
.feedback-h1{
    text-align: center;
}

.display-review{
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
.display-review h6{
    font-size: 20px;
    font-weight: 400;
}
.display-review p{
    font-size: 15px;
}
.display-review button{
    font-size: 15px;
    font-weight: 400;
    color: black;
    background-color: #ffc107;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

/*           ENQUIRY        */
.enquiry-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.enquiryForm{
    display: flex;
    flex-direction: column;
    margin: 25px;
    justify-content: center;
    align-items: center;
}
.enquiryForm input{
    width: 450px;
    height: auto;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    margin-top: 10px;
    color: black;
}
.enquiryForm textarea{
    width: 450px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
    background-color: #fff;
}
.enquiryForm a{
    margin: 10px;
    text-align: center;
    padding: 10px 50px 10px 50px;
    color: #202020;
    background-color: #ffc107;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 800;
}

/*           FOOTER         */

.footer{
    margin-top: 50px;
    background-color: #202020;
  }
  
  .brands{
    display: flex;
    padding: 10px;
    justify-content: center;
  }
  
  .footer p {
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    color:  rgb(173, 169, 169);
    font-size: 50px;
    font-weight: 600;
  }
  
  .footer a{
    border-radius: 2px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
  }